.song-title {
    color: #bdbdc0;
}

.song-artist {
    color: #82c1fd;
    font-style: italic;
    font-size: 0.6em;
}

.song-info {
    position: absolute;
    top: 5vh;
    width: 50vw;
    left: 50%;
    padding-left: 2em;
    padding-right: 2em;
    transform: translate(-50%);
}


.lyrics-word {
    color: #decb18
}

.lyrics-word.good {
    color: #38f716;
}

.lyrics-word.bad {
    color: #da031c;
}

.lyrics-word.freeze {
    color: #6c89e8;
}
